@model TrackingProject.WebSite.Models.ReportViewModel
@{
    ViewBag.Title = "Rota Süre Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Raporlar
        <small>Rota Süre Raporu</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li class="active">Raporlar</li>
    </ol>
</section>
<form method="post">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Rapor Başlangıç - Bitiş Tarihi:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        @Html.TextBoxFor(i => i.DateRange, new { @class = "form-control pull-right" })
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Rota Adı:</label>
                    @Html.DropDownListFor(i => i.RouteId, Model.Routes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12" style="padding-top:25px;">
                <button type="button" onclick="Search()" class="btn btn-block btn-primary">Sorgula</button>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Rota Süre Kayıtları</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Rota Adı</th>
                                    <th>Öğrenci</th>
                                    <th>Binme</th>
                                    <th>İnme</th>
                                    <th>Geçen Süre</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</form>
@section Scripts{
    <script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>

        $('#DateRange').daterangepicker({
            timePicker: false, timePickerIncrement: 30, locale: {
            format: 'DD.MM.YYYY',
            "daysOfWeek": [
            "Paz",
            "Pzt",
            "Sal",
            "Çar",
            "Per",
            "Cum",
            "Cmt"
            ],
            "monthNames": [
                "Ocak",
                "Şubat",
                "Mart",
                "Nisan",
                "Mayıs",
                "Haziran",
                "Temmuz",
                "Ağustos",
                "Eylül",
                "Ekim",
                "Kasım",
                "Aralık"
            ],
            "firstDay": 1
        },
            "autoApply": true
        })

    </script>

    <script>
        var tt = $('#DateRange').val();
        var strUser="";
        function Search() {
            tt = $('#DateRange').val();
            var e = document.getElementById("RouteId");
            strUser = e.options[e.selectedIndex].value;

            $(function () {
           

                table = $('#dataTable').DataTable({
                    destroy:true,
                    processing: true,
                    serverSide: true,
                    filter: true,
                    orderMulti: false,
                    ajax: {
                        url: "/Report/RouteDurationAjax?DateRange=" + tt + "&RouteId=" + strUser,
                        type: "POST",
                        datatype: "json",
                        data:  $('form').serialize()
                    },
                    "columns": [
                        { "data": "Id", "name": "Id", "autoWidth": true, "visible": false },
                        { "data": "RouteId", "name": "RouteId", "autoWidth": true, "visible": false },
                        { "data": "StudentId", "name": "StudentId", "autoWidth": true, "visible": false },
                        { "data": "Route_Name", "name": "Route_Name", "autoWidth": true },
                        { "data": "Student_Name", "name": "Student_Name", "autoWidth": true },
                        { "data": "InCarDate", "name": "InCarDate", "autoWidth": true },
                        { "data": "InCarSchoolDate", "name": "InCarSchoolDate", "autoWidth": true },
                        { "data": "Duration", "name": "Duration", "autoWidth": true },

                    ],
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                    }
                });
            });

        }
    </script>
    <script>
        var table;
        $(function () {
           

            table = $('#dataTable').DataTable({
                processing: true,
                serverSide: true,
                filter: true,
                orderMulti: false,
                ajax: {
                    url: "/Report/RouteDurationAjax?DateRange=" + tt + "&RouteId=" + strUser,
                    type: "POST",
                    datatype: "json",
                    data:  $('form').serialize()
                },
             
                "columns": [
                         { "data": "Id", "name": "Id", "autoWidth": true, "visible": false },
                        { "data": "RouteId", "name": "RouteId", "autoWidth": true, "visible": false },
                        { "data": "StudentId", "name": "StudentId", "autoWidth": true, "visible": false },
                        { "data": "Route_Name", "name": "Route_Name", "autoWidth": true },
                        { "data": "Student_Name", "name": "Student_Name", "autoWidth": true },
                        { "data": "InCarDate", "name": "InCarDate", "autoWidth": true },
                        { "data": "InCarSchoolDate", "name": "InCarSchoolDate", "autoWidth": true },
                        { "data": "Duration", "name": "Duration", "autoWidth": true },

                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                }
            });
        });

    </script>
}




